body{
    color: red;
    background-color: #222223;
    font: 14px "Liberation Mono", Helvetica, Arial, sans-serif;
}
@media (max-width: 600px) {
    .search-result-statistics-buttons{
        font-size: 0.8em;
    }
    .upper-panel {
        justify-content: center;
        flex-direction: column;
    }
}

#item-video-player{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
    video{
        padding: 30px;
        background-color: #0e0524;
        border-radius: 10px;
        width: fit-content;
        height: auto;
        max-height: 60vh;
    }
    #item-video-name{
        border-radius: 10px;
        width: auto;
        text-align: center;
        padding: 20px;

        display: block;
        font-size: 1.3em;
        color: cyan;
        background-color: #150e24;
    }
    &::after{
        content: "";
        width: 100%;
        border-top: 2px solid dodgerblue;
    }
}

#item-video-info-panel{
    display: flex;
    flex-direction: column;
    padding: 20px;
    .upper-panel{
        border-radius: 10px 10px 0 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: #0e0524;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    #info-statistics-panel{
        padding: 10px;
        font-size: 1.2em;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        justify-self: left;
        #info-statistics-likes{
            color: lime;
        }
        #info-statistics-views{
            color: cyan;
        }
        #info-statistics-date{
            display: flex;
            flex-direction: column;
            color: dodgerblue;
        }
        #info-statistics-likes,
        #info-statistics-views{
            display: flex;
            align-items: center;
            gap: 5px;
            :first-child{
                font-size: 1.2em;
            }
        }
    }
    #button-panel{
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-self: right;
        justify-content: center;
        flex-wrap: wrap;
        button{
            background-color: black;
            border: 1px solid cyan;
            padding: 10px;
            &:active{
                scale: 0.9;
            }
        }
        #like-button{
            color: lime;
            border-color: lime;
        }
        #download-button{
            color: dodgerblue;
            border-color: dodgerblue;
        }
        #copy-button{
            color: cyan;
            border-color: cyan;
        }
        #report-button{
            color: red;
            border-color: red;
        }
    }
    details{
        border-radius: 10px;
        background-color: #36333a;
        padding: 15px;
        display: block;
        margin-bottom: 10px;
        summary{
            border-radius: 10px;
            user-select: none;
            margin-bottom: 10px;
            padding: 10px;
            list-style: none;
            &:hover{
                cursor: pointer;
            }
            &:active{
                background-color: darkred;
            }
            color: black;
            background-color: red;

        }
        &[open] > summary{
            color: black;
            background-color: limegreen;
            &:active{
                background-color: green;
            }
        }
        .details-content{
            background-color: #0e0524;
            padding: 10px;

        }
        #tags-list{
            display: flex;
            justify-content: left;
            gap: 10px;
            flex-wrap: wrap;
        }
        .tag-item{
            padding: 5px;
            color:black;
            background-color: dodgerblue;
        }
    }

    #info-description{
        padding: 20px 10px 10px;
        color: lightblue;
        &::after{
            content: "";
            border-top: 2px solid cyan;
            width: 100%;
        }
    }
}

